<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('webhook mail推送模板')" />
    <style type="text/css">
        pre {
            white-space: pre-wrap;
            word-wrap: break-word;
        }
    </style>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form autocomplete="off" class="form-horizontal m" id="form-template-edit">
            <div class="form-group">
                <div class="col-sm-12">
                    <textarea id="template" name="template" class="form-control" rows="25" required>[[*{template}]]</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 form-control-static">
                    <pre th:text="#{webhook.job.mail.info}"></pre>
                </div>
            </div>
            <div style="text-align: center;">
                <button id="viewButton" type="button" class="btn btn-w-m btn-info"><i class="fa fa-eye"></i>
                    [[#{webhook.mail.template.view}]]
                </button>&nbsp;
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: codemirror-js" />
    <script type="text/javascript" th:inline="javascript">
        var prefix = ctx + "as/webhook";

        $(document).ready(function () {
            $('#viewButton').on('click', function () {
                // temp = document.script.tester.value;
                temp = $("#template").val();
                testwin= open("", "testwin","status=no,menubar=yes,toolbar=no");
                testwin.document.open();
                testwin.document.write(temp);
                testwin.document.close();
            });
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.ajax({
                    url: prefix + "/mailPushTemplateSave",
                    data: $('#form-template-edit').serialize(),
                    type: "get",
                    success: function(result) {
                        if (result.code == web_status.SUCCESS) {
                            layer.msg(i18n('api.job.template.save'), {
                                icon: 1,
                                time: 500,
                                shade: [0.1, '#8F8F8F']
                            },function() {
                                refreshCache();
                                $.modal.close()
                            });
                        } else {
                            alert(result.msg);
                        }
                    }
                })
            }
        }

        /** 刷新字典缓存 */
        function refreshCache() {
            $.operate.get(ctx + "system/dict/refreshCache");
        }
    </script>
</body>
</html>