<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增SQL模板')" />
    <th:block th:include="include :: codemirror-css" />
</head>
<body>
    <div class="main-content">
        <form autocomplete="off" id="form-sqlTemplate-add" class="form-horizontal">
            <h4 class="form-header h4">[[#{user.add.basic.information}]]</h4>
            <div class="row">
                <div class="col-sm-10">
                    <div class="form-group">
                        <label class="col-xs-2 control-label is-required">SCRIPT：</label>
                        <div class="col-xs-10">
                            <textarea id="editor" name="script" class="form-control" rows="10" required></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">[[#{sql.template.ch.name}]]：</label>
                        <div class="col-sm-8">
                            <input name="chName" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">[[#{sql.template.en.name}]]：</label>
                        <div class="col-sm-8">
                            <input name="enName" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="select-platform-jdbc">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">[[#{sql.job.platform}]]：</label>
                        <div class="col-sm-8">
                            <select name="platform"  class="platform form-control m-b" required></select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">JDBC：</label>
                        <div class="col-sm-8">
                            <select name="jdbc" class="jdbc form-control m-b" required></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">ASID：</label>
                        <div class="col-sm-8">
                            <input name="asid" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label class="col-xs-4 control-label is-required">[[#{sql.template.status}]]：</label>
                        <div class="col-xs-8">
                            <label class="toggle-switch switch-solid">
                                <input type="checkbox" id="status" checked required>
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">[[#{sql.template.role}]]：</label>
                        <div class="col-xs-10">
                            <label th:each="role:${roles}" class="check-box">
                                <input name="role" type="checkbox" th:value="${role.roleId}" th:text="${role.roleName}" th:disabled="${role.status == '1'}">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!--自定义参数信息-->
            <h4 class="form-header h4">[[#{sql.template.value.params}]]</h4>

            <div id="valueParams">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-group">
                            <!--新增欄位-->
                            <button onclick="addValueParams()" type="button" class="btn btn-sm btn-primary pull-right">+</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--其它訊息-->
            <h4 class="form-header h4">[[#{user.add.other.information}]]</h4>
            <div class="row">
                <div class="col-sm-10">
                    <div class="form-group">
                        <!--備註-->
                        <label class="col-xs-2 control-label">[[#{user.add.remark}]]：</label>
                        <div class="col-xs-10">
                            <textarea name="remark" maxlength="500" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>[[#{user.save}]]</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>[[#{user.close}]] </button>
        </div>
    </div>

    <th:block th:include="include :: footer" />
    <th:block th:include="include :: jquery-cxselect-js" />
    <th:block th:include="include :: codemirror-js" />
    <script th:inline="javascript">
        var PF1JDBCDatas = [[${@dict.getType('pf1_data_base_source')}]];
        var PF2JDBCDatas = [[${@dict.getType('pf2_data_base_source')}]];
        var ASJDBCDatas = [[${@dict.getType('as_data_base_source')}]];
        var prefix = ctx + "as/sqlTemplate"

        // 联动下拉框
        $('#select-platform-jdbc').cxSelect({
            selects: ['platform', 'jdbc'],
            required: true,
            jsonValue: 'dictValue',
            jsonName: 'dictLabel',
            data: [
                {'dictValue': '1.0', 'dictLabel': 'Platform 1.0', 's': PF1JDBCDatas},
                {'dictValue': '5.0', 'dictLabel': 'Platform 5.0', 's': PF2JDBCDatas},
                {'dictValue': 'AS', 'dictLabel': 'Platform AS', 's': ASJDBCDatas},
            ]
        });

        $("#form-sqlTemplate-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                var data = $("#form-sqlTemplate-add").serializeArray();
                var status = $("input[id='status']").is(':checked') == true ? 0 : 1;
                var roleIds = $.form.selectCheckeds("role");
                data.push({"name": "status", "value": status});
                data.push({"name": "roleIds", "value": roleIds});
                $.operate.saveTab(prefix + "/add", data);
            }
        }
        var valueParam_index = 1;
        $(function (){
            addValueParams()
        })
        function addValueParams(){
            var valueParams = '<div id="valueParams_' + valueParam_index +'">' +
                '                    <div class="row">' +
                '                        <div class="col-sm-5">' +
                '                            <div class="form-group">' +
                '                                <label class="col-sm-4 control-label is-required">'+ i18n('sql.template.value.name') +'：</label>' +
                '                                <div class="col-sm-8">' +
                '<div class="input-group m-b">' +
                '                        <div class="input-group-btn">' +
                '                            <select name="values['+ (valueParam_index - 1) +'].matchType" class="form-control m-b"' +
                '                                    style="width:70px;padding:0px 10px;background-color: #eee;background-size:20%;" required>' +
                '                                <option value="equal">'+ i18n('sql.template.equal') +'</option>' +
                '                                <option value="in">'+ i18n('sql.template.in') +'</option>' +
                '                            </select>' +
                '                        </div>' +
                '                                    <input name="values['+ (valueParam_index - 1) +'].templateValue" class="form-control" type="text" required>' +
                '                    </div>' +
                '                                </div>' +
                '                            </div>' +
                '                        </div>' +
                '                        <div class="col-sm-5">' +
                '                            <div class="form-group">' +
                '                                <label class="col-sm-4 control-label is-required">'+ i18n('sql.template.value.type') +'：</label>' +
                '                                <div class="col-sm-8">' +
                '                                    <select name="values['+ (valueParam_index - 1) +'].htmlType" class="form-control m-b" >' +
                '                                        <option value="input" selected>'+ i18n('sql.template.value.input') +'</option>' +
                '                                        <option value="dateTime">'+ i18n('sql.template.value.date') +'</option>' +
                '                                    </select>' +
                '                                </div>' +
                '                            </div>' +
                '                        </div>' +
                '                    </div>' +
                '                    <div class="row">' +
                '                        <div class="col-sm-10">' +
                '                            <div class="form-group">' +
                '                                <label class="col-sm-2 control-label">'+ i18n('sql.template.value.list') +'：</label>' +
                '                                <div class="col-sm-10">' +
                '                                    <input name="values['+ (valueParam_index - 1) +'].listValue" class="form-control" type="text" value="null">' +
                '                                </div>' +
                '                            </div>' +
                '                        </div>' +
                '                    </div>' +
                '                    <div class="row">' +
                '                        <div class="col-sm-5">' +
                '                            <div class="form-group">' +
                '                                <label class="col-sm-4 control-label is-required">'+ i18n('sql.template.value.ch.name') +'：</label>' +
                '                                <div class="col-sm-8">' +
                '                                    <input name="values['+ (valueParam_index - 1) +'].valueChName" class="form-control" type="text" required>' +
                '                                </div>' +
                '                            </div>' +
                '                        </div>' +
                '                        <div class="col-sm-5">' +
                '                            <div class="form-group">' +
                '                                <label class="col-sm-4 control-label is-required">'+ i18n('sql.template.value.en.name') +'：</label>' +
                '                                <div class="col-sm-8">' +
                '                                    <input name="values['+ (valueParam_index - 1) +'].valueEnName" class="form-control" type="text" required>' +
                '                                </div>' +
                '                            </div>' +
                '                        </div>' +
                '                    </div>' +
                '                    <div class="row">' +
                '                        <div class="col-sm-5">' +
                '                            <div class="form-group">' +
                '                                <label class="col-sm-4 control-label">'+ i18n('sql.template.value.ch.placeholder') +'：</label>' +
                '                                <div class="col-sm-8">' +
                '                                    <input name="values['+ (valueParam_index - 1) +'].chPlaceholder" class="form-control" type="text">' +
                '                                </div>' +
                '                            </div>' +
                '                        </div>' +
                '                        <div class="col-sm-5">' +
                '                            <div class="form-group">' +
                '                                <label class="col-sm-4 control-label">'+ i18n('sql.template.value.en.placeholder') +'：</label>' +
                '                                <div class="col-sm-8">' +
                '                                    <input name="values['+ (valueParam_index - 1) +'].enPlaceholder" class="form-control" type="text">' +
                '                                </div>' +
                '                            </div>' +
                '                        </div>' +
                '                        <div class="col-sm-2">' +
                '                            <button onclick="delValueParams(id)" id="del_valueParams_'+ valueParam_index +'" type="button" class="btn btn-sm btn-danger">-</button>' +
                '                        </div>' +
                '                    </div>' +
                '                </div>'
            $("#valueParams").append(valueParams);
            valueParam_index++
        }

        function delValueParams(id){
            var aa = id.split("_")
            var ids = aa[1]+"_"+aa[2]
            var enuParams = document.getElementById("valueParams")
            enuParams.removeChild(document.getElementById(ids))
            valueParam_index--
        }

        function getTableHeight() {
            return  $(window).height();
        }

        myTextarea = document.getElementById("editor");
        var editor = CodeMirror.fromTextArea(myTextarea, {
            mode: "text/x-mysql",
            lineNumbers: true,//显示行数
            matchBrackets: true,  // 括号匹配（这个需要导入codemirror的matchbrackets.js文件）
            styleActiveLine: true,
            theme: 'solarized'
        });
        editor.setSize('auto',getTableHeight()/3)
        var pending;
        editor.on("change", function() {
            editor.save();
        });
    </script>
</body>
</html>