<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('SQL模板列表')" />
    <th:block th:include="include :: select2-css" />
    <th:block th:include="include :: bootstrap-select-css" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form autocomplete="off" id="form-template" th:object="${sqlTemplate}" novalidate>
                    <input name="sqlTemplateId" th:value="*{id}" type="hidden">
                    <div class="select-list">
                        <ul>
                            <li th:each="value : ${sqlTemplate.values}" th:class="${value.htmlType == 'dateTime'} ? 'select-time' : ''" >
                                <!--水平排列表單form-inline-->
                                <div class="form-inline">
                                    <label th:title="${locale == 'en_US'} ? ${value.valueEnName} : ${value.valueChName}" style="width:150px;text-overflow: ellipsis;overflow: hidden;white-space:nowrap;display: block;word-break: break-all;word-wrap: break-word;">[[${locale == 'en_US'} ? ${value.valueEnName} : ${value.valueChName}]]：</label>
                                    <t th:if="${value.listValue eq 'null'}"><input th:if="${value.htmlType == 'input'}" type="text" th:name="${value.templateValue}" th:placeholder="${locale == 'en_US'} ? ${value.enPlaceholder} : ${value.chPlaceholder}" /></t>
                                    <t th:if="${value.listValue ne 'null' && value.matchType eq 'in'}"><select class="form-select noselect2 selectpicker" th:id="${value.listValue}" th:name="${value.templateValue}" data-live-search="true" data-none-results-text="沒找到相應記錄{0}" data-none-selected-text="--可多選--" multiple required></select></t>
                                    <t th:if="${value.listValue ne 'null' && value.matchType eq 'equal'}"><select class="font-noraml" th:id="${value.listValue}" th:name="${value.templateValue}"></select></t>
                                    <input th:if="${value.htmlType == 'dateTime'}" type="text" class="time-input" th:name="${value.templateValue}" th:placeholder="${locale == 'en_US'} ? ${value.enPlaceholder} : ${value.chPlaceholder}" required/>
                                </div>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="tableSearch()"><i class="fa fa-search"></i>&nbsp;[[#{common.query}]]</a>
                                <!--取消重置-->
                                <!--<a th:if="${not #lists.isEmpty(sqlTemplate.values)}" class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;[[#{common.reset}]]</a>-->
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
     <th:block th:include="include :: bootstrap-table-export-js" />
     <th:block th:include="include :: datetimepicker-js" />
     <th:block th:include="include :: select2-js" />
     <th:block th:include="include :: bootstrap-select-js" />
    <script th:inline="javascript">
        var valueParam_index = 1;
        var values = [[${sqlTemplate.values}]];
        $(function (){
            $.each(values,function(n,value){
                test(values[valueParam_index-1].listValue)
            })
        })

        function test(listValue){
            var NewArray = listValue.split(";");
            var select = document.getElementById(listValue);
            for(var x = 0;x<NewArray.length;x++){
                var NewArray2=NewArray[x];
                var value=NewArray2.split(",");
                var option = document.createElement("option");
                option.setAttribute("value",value[0]);
                option.appendChild(document.createTextNode(value[1]));
                select.appendChild(option);
            }
            valueParam_index++
        }

        var editFlag = [[${@permission.hasPermi('as:sqlTemplate:edit')}]];
        var statusFlag = [[${@permission.hasPermi('as:sqlTemplate:changeStatus')}]];
        var removeFlag = [[${@permission.hasPermi('as:sqlTemplate:remove')}]];
        var useFlag = [[${@permission.hasPermi('as:sqlTemplate:use')}]];
        var statusDatas = [[${@dict.getType('sys_normal_disable')}]];
        var platformDatas = [[${@dict.getType('ub8_platform_type')}]];
        var jdbcDatas = [[${@dict.getType('pf2_data_base_source')}]];
        var prefix = ctx + "as/sqlTemplate";

        // 动态获取列
        function ajaxColumns() {
            var url = prefix + "/ajaxColumns";
            var dataParam = $.common.formToJSON("form-template")
            $.modal.loading(i18n('common.query.loading'));
            $.post(url, dataParam, function(result) {
                if (result.code == web_status.SUCCESS) {
                    setColumns(result.data);
                } else if (result.code == web_status.WARNING) {
                    $.modal.alertWarning(result.msg)
                } else {
                    $.modal.alertError(result.msg);
                }
                $.modal.closeLoading();
            });
        }
        // 设置列
        function setColumns(list) {
            var columns = [];
            list.forEach(function(item) {
                columns.push({
                    field : item,
                    title : item,
                    halign: 'center',
                    cellStyle: {
                        css:{"white-space":"nowrap"}
                    },
                })
            });
            if(!table.get(table.options.id)){
                initTable(columns);
            } else {
                refreshTable(columns);
            }
        }
        // 刷新表格
        function refreshTable(columns) {
            var options = {
                columns: columns
            };
            $("#" + table.options.id).bootstrapTable('refreshOptions',options);
        }

        // 初始化表格
        function initTable(columns){
            var options = {
                url: prefix + "/query",
                firstLoad: true,
                showExport: true,
                striped: true,
                showRefresh : false,
                showToggle: false,
                modalName: i18n('sql.template'),
                columns: columns
            };
            $.table.init(options);
        }

        // 搜索
        function tableSearch(){
            if ($.validate.form()){
                ajaxColumns();
            }
        }
    </script>
</body>
</html>