<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.as.webhook.mapper.WebhookMapper">

    <resultMap type="PushObject" id="webhookRecordResult">
        <result property="id"    column="ID"    />
        <result property="type"    column="TYPE"    />
        <result property="asid"    column="ASID"    />
        <result property="title"    column="TITLE"    />
        <result property="method"    column="METHOD"    />
        <result property="descr"    column="DESCR"    />
        <result property="remark"    column="REMARK"    />
        <result property="tgId"    column="TG_ID"    />
        <result property="mailAdd"    column="MAIL_ADD"    />
        <result property="reporter"    column="REPORTER"    />
        <result property="ip"    column="IP"    />
        <result property="status"    column="STATUS"    />
        <result property="message"    column="MESSAGE"    />
        <result property="createTime"    column="CREATE_TIME"    />
    </resultMap>

    <sql id="selectWebhookRecordVo">
        select ID, TYPE, ASID, TITLE, METHOD, DESCR, REMARK, TG_ID, MAIL_ADD, REPORTER, IP, STATUS, MESSAGE, CREATE_TIME from webhook_record
    </sql>

    <select id="selectWebhookRecordList" parameterType="PushObject" resultMap="webhookRecordResult">
        <include refid="selectWebhookRecordVo"/>
        <where>
            <if test="params.ids != null  and params.ids.length > 0">
                and ID in
                <foreach collection="params.ids" item="id" index="index" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="type != null  and type != ''"> and TYPE like concat('%', #{type}, '%')</if>
            <if test="asid != null  and asid != ''"> and ASID like concat('%', #{asid}, '%')</if>
            <if test="title != null  and title != ''"> and TITLE like concat('%', #{title}, '%')</if>
            <if test="method != null  and method != ''"> and METHOD = #{method}</if>
            <if test="reporter != null  and reporter != ''"> and REPORTER = #{reporter}</if>
            <if test="ip != null  and ip != ''"> and IP = #{ip}</if>
            <if test="status != null  and status != ''"> and STATUS = #{status}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != ''"><!-- 开始时间检索 -->
                AND date_format(CREATE_TIME,'%y%m%d') &gt;= date_format(#{params.beginCreateTime},'%y%m%d')
            </if>
            <if test="params.endCreateTime != null and params.endCreateTime != ''"><!-- 结束时间检索 -->
                AND date_format(CREATE_TIME,'%y%m%d') &lt;= date_format(#{params.endCreateTime},'%y%m%d')
            </if>
        </where>
    </select>

    <select id="selectWebhookRecordById" parameterType="Long" resultMap="webhookRecordResult">
        <include refid="selectWebhookRecordVo"/>
        where ID = #{id}
    </select>

    <insert id="insertWebhookRecord" parameterType="PushObject" useGeneratedKeys="true" keyProperty="id">
        insert into webhook_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null and type != ''">TYPE,</if>
            <if test="asid != null and asid != ''">ASID,</if>
            <if test="title != null and title != ''">TITLE,</if>
            <if test="method != null and method != ''">METHOD,</if>
            <if test="descr != null and descr != ''">DESCR,</if>
            <if test="remark != null and remark != ''">REMARK,</if>
            <if test="tgId != null and tgId != ''">TG_ID,</if>
            <if test="mailAdd != null and mailAdd != ''">MAIL_ADD,</if>
            <if test="reporter != null and reporter != ''">REPORTER,</if>
            <if test="ip != null and ip != ''">IP,</if>
            <if test="status != null and status != ''">STATUS,</if>
            <if test="message != null and message != ''">MESSAGE,</if>
            <if test="createTime != null">CREATE_TIME,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null and type != ''">#{type},</if>
            <if test="asid != null and asid != ''">#{asid},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="method != null and method != ''">#{method},</if>
            <if test="descr != null and descr != ''">#{descr},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="tgId != null and tgId != ''">#{tgId},</if>
            <if test="mailAdd != null and mailAdd != ''">#{mailAdd},</if>
            <if test="reporter != null">#{reporter},</if>
            <if test="ip != null and ip != ''">#{ip},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="message != null and message != ''">#{message},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateWebhookRecord" parameterType="PushObject">
        update webhook_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null and type != ''">TYPE = #{type},</if>
            <if test="asid != null and asid != ''">ASID = #{asid},</if>
            <if test="title != null and title != ''">TITLE = #{title},</if>
            <if test="method != null and method != ''">METHOD = #{method},</if>
            <if test="descr != null and descr != ''">DESCR = #{descr},</if>
            <if test="remark != null and remark != ''">REMARK = #{remark},</if>
            <if test="tgId != null and tgId != ''">TG_ID = #{tgId},</if>
            <if test="mailAdd != null and mailAdd != ''">MAIL_ADD = #{mailAdd},</if>
            <if test="reporter != null and reporter != ''">REPORTER = #{reporter},</if>
            <if test="ip != null and ip != ''">IP = #{ip},</if>
            <if test="status != null and status != ''">STATUS = #{status},</if>
            <if test="message != null and message != ''">MESSAGE = #{message},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteWebhookRecordById" parameterType="Long">
        delete from webhook_record where ID = #{id}
    </delete>

    <delete id="deleteWebhookRecordByIds" parameterType="String">
        delete from webhook_record where ID in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectWebhookRecordAll" resultMap="webhookRecordResult">
        <include refid="selectWebhookRecordVo"/>
    </select>

    <select id="checkReporterIsExist" parameterType="String" resultType="int">
		select count(1) from sys_user where login_name=#{reporter} limit 1
	</select>

</mapper>